hr {
  background-color: rgb(14, 129, 133);
  border-width: 3px;
}

h3 {
  color: rgb(14, 129, 133);
}

.card-title {
  text-overflow: ellipsis;
}
.card-banner
{
  background-size: cover;
  background-position: center; 
  position: relative; 
  padding: 20px; 
  height: 100%;
}
.image-striped {
  position: relative;
  display: inline-block;
}



.image-striped::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.5) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.5) 75%, transparent 75%, transparent);
  background-size: 10px 10px;
  pointer-events: none;
}

.no-clases{
  background-color: red;
}