body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to right, #32418B, #A09AE5, #BA8CE9, #D598DA);
}

.login-container-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 460px;
  
}

.alert-container {
  width: 100%;
  margin-bottom: 10px;
}

.login-container {
  background-color: #fffbfb;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 40px;
  max-width: 400px;
  width: 100%;
}

.login-container h2 {
  margin-bottom: 20px;
  text-align: center;
}

.login-container input[type="text"],
.login-container input[type="email"],
.login-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.login-container input[type="submit"] {
  width: 100%;
  background-image: linear-gradient(to right, #32418B, #A09AE5, #BA8CE9, #D598DA);
    color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-container input[type="submit"]:hover {
  background-color: #09757cf7;
}

.alert3 {
  padding: 10px;
  background-color: white;
  color: rgb(0, 0, 0);
  border: 2px solid #008CBA;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: left;
}

.alert3:hover {
  background-color: #008CBA;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: black;
  font-weight: bold;
  float: right;
  font-size: 16px;
  line-height: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: white;
}
