* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #10b5c1f7
}

.card {
    top: 50px ;
    width: 900px;
    height: 500px;
    background-color: #efefef;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 20px;
}

.image img {
    transition: all 0.5s
}

.card:hover .image img {
    transform: scale(1.5)
}

.name {
    font-size: 22px;
    font-weight: bold
}

.idd {
    font-size: 14px;
    font-weight: 600
}

.idd1 {
    font-size: 12px
}

.number {
    font-size: 22px;
    font-weight: bold
}

.follow {
    font-size: 12px;
    font-weight: 500;
    color: #444444
}

.btn1 {
    height: 40px;
    width: 150px;
    border: none;
    background-color: #000;
    font-size: 15px;
}

.text span {
    font-size: 13px;
    color: #545454;
    font-weight: 500
}

.icons i {
    font-size: 19px
}

hr .new1 {
    border: 1px solid
}

.join {
    font-size: 14px;
    color: #a0a0a0;
    font-weight: bold
}

.date {
    background-color: #ccc
}

.profile{
    position: relative;
    transition: 0.3s filter ease-in-out;
    transition: all 0.5s
}
.cont:hover .profile{
    background-color: rgba(33, 33, 33, 0);
    filter: brightness(40%);
    transform: scale(1.2)
}
.cont:hover .cent_tex{
    opacity: 1;
}
.cont{
    position: relative;
  text-align: center;
}
.cent_tex{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: 0.3s filter ease-in-out;
    transition: all 0.5s
}



.fff{
    position:relative;
        top: 100px;         /* 100px para top en relacion con su position antigua*/
      left: -300px;
      text-align:center;
    }
   
   
    .ff3{
        position: relative;  /* Ahora estamos listos para mover el element*/
      top: -180px;         /* 100px para top en relacion con su position antigua*/
      left: 160px;
   
   
    }
