<link href="../css/tabla_notas.css" rel="stylesheet" type="text/css" />
<link
  href="https://fonts.googleapis.com/css?family=Rock+Salt"
  rel="stylesheet"
  type="text/css" />
<table summary="Los grupos de música punk más famosos del Reino Unido">
    <!---caption>
      Un resumen de los grupos de música punk más famosos del Reino Unido
    </caption--->
    <thead>
      <tr>
        <th scope="col">Materias</th>
        <th scope="col">Primer Bimestre </th>
        <th scope="col">Segundo bimestre</th>
        <th scope="col">Anotaciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Matetematica</th>
        <td>9</td>
        <td>8</td>
        <td>Mejorar en.......</td>
      </tr>
      <tr>
        <th scope="row">Ingles</th>
        <td>6</td>
        <td>6</td>
        <td>Mejorar en....</td>
    
        <th scope="row">Fisica</th>
        <td>4</td>
        <td>7</td>
        <td>Mejorar en....</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th scope="row" colspan="2">Nota promedio</th>
        <td colspan="2">7</td>
      </tr>
    </tfoot>
  </table>